<div>
    <h1>Lobby</h1>
    <a href="/game/1">Game</a>
    <a routerLink="/games" routerLinkActive="active">Crisis Center</a>
    <button (click)="clicked()">Create new Game</button>
    <ul>
        <li *ngFor="let game of Games"> fooo {{Games?.length}}</li>
    </ul>
</div>