@model TwinPairs.ViewModels.GameModel
<html>
<head>
    <title>Angular 2 QuickStart JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">

    <base href="/">
</head>

<!-- 3. Display the application -->
<body>
    <game>Loading...</game>

    <script type="text/javascript" src="~/app/polyfills.js"></script>
    <script type="text/javascript" src="~/app/vendor.js"></script>
    <script type="text/javascript" src="~/app/app.js"></script>

    <script type="text/javascript" src="~/app/polyfills.js.map"></script>
    <script type="text/javascript" src="~/app/vendor.js.map"></script>
    <script type="text/javascript" src="~/app/app.js.map"></script>

</body>



</html>